/*Hero start*/
.header {
  background-image: linear-gradient(rgba(0, 31, 84, 0.6), rgba(0, 31, 84, 0.6)),
    url(../img/img-school/bucerius-law-school-7Knag4Km_p4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 4.8rem;
}
/*Header start*/
.head-info {
  background-color: #001f54;
  height: 2.4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
}
.mobile-nav {
  border: none;
  padding: 1.6rem;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 10px;
}
.open-nav button {
  z-index: 5;
  position: fixed;
}
.mobile-nav ion-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}
.mobile-nav ion-icon[name="menu-outline"] {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobile-nav ion-icon[name="close-outline"] {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.contact-no {
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  margin-right: 3.2rem;
}

.logo {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: white;
}

.nav-bar {
  list-style: none;
  display: flex;
  font-size: 1.8rem;
  color: white;
}

.nav-bar a:link,
.nav-bar a:visited {
  display: block;
  color: white;
  padding: 1.4rem 2.4rem;
  text-decoration: none;
}
.nav-bar a:hover,
.nav-bar a:active {
  background-color: white;
  /* border-bottom: 1px solid white; */
  color: #56bfac;
  font-weight: 500;
}
/*---Header End---*/
/*---SubNav start---*/
.nav-bar li .submenu-About {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #f7f7f7;
  font-weight: 500;
  box-shadow: 0px 5px 5px #00000014;
}

.nav li:hover .submenu-About {
  display: block;
}

.nav-bar li .submenu-About li {
  width: 100%;
}

.nav-bar li .submenu-About a {
  padding: 1.4rem 2.4rem;
}

.nav-bar li .submenu-About a:link,
.nav-bar li .submenu-About a:visited {
  color: rgb(0, 31, 84);
  font-weight: 400;
  background-color: #f7f7f7;
}
.nav-bar li .submenu-About a:hover {
  background: #ececec;
  color: #56bfac;
}
/*---SubNav end---*/

.hero-description {
  padding: 3.2rem 3.2rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  color: #f7f7f7;
}

.hero .primary-title {
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.hero span {
  color: #56bfac;
  font-weight: bold;
  border-bottom: 3px solid #56bfac;
}

.hero .btn:last-child:link,
.hero .btn:last-child:visited {
  margin-left: 1.4rem;
  background-color: transparent;
}
.hero .btn:last-child:hover,
.hero .btn:last-child:active {
  background: #fff;
  color: #56bfac;
  border: 2px solid #56bfac;
}
/*--Hero end--*/

/*--Welcome start--*/
.welcome-header .primary-title {
  color: #333;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
.welcome-header span {
  color: #001f54;
  font-weight: bold;
}

.welcome-body p {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.welcome-about {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.welcome-about .secondary-title {
  color: #001f54;
  margin-bottom: 2.4rem;
}
.welcome-about p {
  max-width: 90%;
}

.speech .secondary-title {
  color: white;
  margin-bottom: 2.4rem;
}

.info-author h4 {
  font-weight: 400;
}

.info-author h3 {
  margin: 1.2rem 0 0.5rem 0;
}

.welcome-speech {
  background-color: #001f54;
  color: #f7f7f7;
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2.4rem;
}

.img-author img {
  max-width: 100%;
}

/*--Welcome end--*/
/*---Quote start*/

.quote {
  background-image: url(../img/noita-digital-zcx5ztIjQAM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  max-height: 40rem;
  padding: 6.4rem;
}
.blockquote {
  position: relative;
  padding: 2.4rem 0;
  max-width: 100%;
  z-index: 1;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.text-quote {
  font-size: 4rem;
  letter-spacing: 1.2px;
  color: white;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.author-quote {
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 400;
  z-index: 1;
}

.blockquote:after {
  position: absolute;
  content: "”";
  color: #56bfac;
  font-size: 20rem;
  font-weight: bold;
  line-height: 0;
  right: 5%;
  bottom: -27%;
}

/*Quote end*/
/*departments start*/
.departments {
  padding: 4.8rem 2.4rem 0;
  background-color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
}

.departament-img svg {
  max-width: 100%;
}

.secondary-title {
  color: #001f54;
  margin-bottom: 4.8rem;
}

.department-description {
  align-self: center;
}
.department--description {
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
/*departments end*/

/*news start*/

.news-feature {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
}

.news-feature .news-description {
  text-align: center;
}

.news-feature .news-description .primary-title {
  color: #001f54;
  margin-bottom: 1.6rem;
}
.news-feature .news-description .news--description {
  font-size: 2rem;
}

.news-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  column-gap: 1.6rem;
}

.news-content .news-block {
  position: relative;
  width: 25rem;
  height: 15.4rem;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
.news-content .news-block:hover {
  z-index: 1;
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.news-content .news-block .news-img {
  width: 100%;
}
.news-content .news-block .news-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 31, 84, 0.5), #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}
.news-content .news-block:hover .news-img::before {
  opacity: 1;
}

.news-content .news-block .news-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.news-content .news-block .news-block-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.news-content .news-block .news-block-description .ternary-title {
  color: #fff;
  transition: 0.5s;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  transform: translateY(20rem);
}
.news-content .news-block:hover .news-block-description .ternary-title {
  transform: translateY(0);
}
.news-content .news-block .news-block-description p {
  color: #fff;
  transition: 0.5s;
  margin-bottom: 0.8rem;
  transform: translateY(20rem);
}
.news-content .news-block:hover .news-block-description p {
  transform: translateY(0);
}
.news-content .news-block .news-block-description .btn-news:link,
.news-content .news-block .news-block-description .btn-news:visited {
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  transform: translateY(20rem);
}
.news-content .news-block .news-block-description .btn-news:hover,
.news-content .news-block .news-block-description .btn-news:active {
  color: #56bfac;
}
.news-content .news-block:hover .news-block-description .btn-news {
  transform: translateY(0);
}
/*news end*/
/*testimonials start*/
.testimonial-header {
  text-align: center;
  color: #001f54;
  margin-bottom: 9.6rem;
}
.testimonial-header h2 {
  font-size: 3rem;
  color: #333;
  font-weight: 400;
  text-transform: capitalize;
}
.testimonial-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  padding: 3.2rem;
}
.testimonial-body .testimonial-block {
  position: relative;
  padding: 8rem 4rem 4rem;
  transition: 0.5s;
  text-align: center;
  background-color: #f7f7f7;
}
.testimonial-body .testimonial-block:hover {
  background-color: #001f54;
}
.testimonial-body .testimonial-block p {
  transition: 0.5s;
  font-size: 1.6rem;
  line-height: 1.5;
}
.testimonial-body .testimonial-block h4 {
  color: #001f54;
  font-size: 1.4rem;
  margin-top: 1.4rem;
  transition: 0.5s;
  font-weight: 700;
  text-transform: uppercase;
}
.testimonial-body .testimonial-block h4 span {
  font-weight: 500;
  font-size: 1.2rem;
  color: #c5c5c5;
  transition: 0.5s;
}

.testimonial-block:hover p,
.testimonial-block:hover h4,
.testimonial-block:hover h4 span {
  color: white;
}

.testimonial-img {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%);
  width: 12rem;
  height: 12rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-block::before {
  content: open-quote;
  position: absolute;
  top: 0rem;
  left: 2rem;
  font-size: 20rem;
  opacity: 0.05;
  transition: 0.5s;
}
.testimonial-block:hover::before {
  opacity: 1;
  transform: translatex(-20px);
  color: #56bfac;
}
.testimonial-block::after {
  content: close-quote;
  position: absolute;
  bottom: -10rem;
  right: 2rem;
  font-size: 20rem;

  opacity: 0.05;

  transition: 0.5s;
}
.testimonial-block:hover::after {
  opacity: 1;
  transform: translatex(-20px);

  color: #56bfac;
}
.testimonial-img img {
  max-width: 100%;
}
/*testimonials end*/
/*Subscribe start*/
.pattern {
  background: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 80%;
  height: 50rem;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-description {
  margin: 0 auto;
  background-color: #eaf7f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 37rem;
  text-align: center;
}
.subscribe-title {
  text-transform: uppercase;
  color: #001f54;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.subscribe-p {
  max-width: 60%;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.form {
  margin-bottom: 2.4rem;
}
.form-email {
  padding: 1rem 1.8rem;
  border: 1px solid #cad3db;
  max-width: 30rem;
  font-size: 18px;
  color: #0f121f;
}
.form-email:focus {
  outline: 1px solid #a2dcd1;
}
.form-email::placeholder {
  font-size: 1.4rem;
}
.form-button {
  cursor: pointer;
  background: #56bfac;
  padding: 1rem 1.8rem;
  max-width: 15rem;
  font-size: 1.8rem;
  color: white;
  border: 2px solid #56bfac;
}
.form-button:hover {
  background: #fff;
  color: #56bfac;
  border: 2px solid #56bfac;
}
.notice {
  font-size: 1.4rem;
  max-width: 50%;
}
/*---Subscription end---*/
/*footer start*/
.footer {
  color: #001f54;
  border-top: 1px solid #eee;
  margin-bottom: 9.6rem;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  justify-items: center;
  text-align: center;
}
.footer-block {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.ternary-title a:link,
.ternary-title a:visited {
  color: #001f54;
  text-decoration: none;
}

.footer ul {
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer ul a:link,
.footer ul a:visited {
  color: inherit;
  text-decoration: none;
}

.footer .social-icon {
  display: flex;
  gap: 1.2rem;
}
.footer .social-icon a:link,
.footer .social-icon a:visited {
  font-size: 2.4rem;
  display: inline-block;
  text-align: center;
  color: #56bfac;
  opacity: 0.9;
}

.footer .social-icon a:hover {
  opacity: 0.7;
}

.footer .copyright {
  font-size: 1.4rem;
  margin-top: auto;
}
