/*
        ----Typografy:

            -FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

            -Font-Wight:
             -Light: 500
             -Medium : 600
             -Bold : 700

            -Letter Spacing:
             - -0.5px
             - 1.3px


            -Line Height:
                -Default: 1
                - 1.05



        ---- Colors:
            -Color Palete:
              -Primary color: #001f54;
              -Accent: #56bfac;
              -Greys: #e5e5e5;

            -Tints & Shades
                -Tin: #e6e9ee, #334c76, #1a3565
                -Shades: #000308, #001943, #001c4c

        ----Shadow:
        ----Border:
        ---- White space:
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

        */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.grid {
  display: grid;
}

.grid-2 {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
}

/* .grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr)); 
  grid-template-columns: repeat(4, 1fr);
} */

.primary-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 1.2px;
  font-size: 5.2rem;
  line-height: 1.2;
}
.secondary-title {
  font-size: 4.4rem;
  line-height: 1.1;
  letter-spacing: 1.2px;
}
.ternary-title {
  font-size: 2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background: #56bfac;
  padding: 1.2rem 2.4rem;
  font-size: 18px;
  color: white;
  border: 2px solid #56bfac;
}

.btn:hover,
.btn:active {
  background: #fff;
  color: #56bfac;
  border: 2px solid #56bfac;
}
.btn-more:link,
.btn-more:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #001f54;
  font-weight: 600;
}

.btn-more:hover {
  color: #56bfac;
}
.btn-lg {
  padding: 1.2rem 2.4rem;
}
.btn-sm {
  padding: 0.8rem 1.2rem;
}
.pt-lg {
  padding-top: 9.6rem;
}
.pb-lg {
  padding-bottom: 12.8rem;
}

.mb-lg {
  margin-bottom: 16rem;
}
