@media (max-width: 1300px) {
  .testimonial-block:hover::before,
  .testimonial-block:hover::after {
    transform: translatey(-1.2rem);
  }

  .blockquote:after {
    bottom: -25%;
  }
  .grid-2 {
    row-gap: 2.4rem;
  }

  .department-description {
    text-align: center;
  }
  .testimonial-body {
    row-gap: 6.4rem;
  }

  .footer .copyright {
    margin-top: auto;
  }
}
@media (max-width: 1100px) {
  .header {
    position: relative;
  }
  .mobile-nav {
    display: block;
  }
  .nav-bar {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 2rem;
    background-color: hsla(218, 100%, 16%, 0.8);
    align-items: flex-end;
    padding: 5% 1% 0 0;

    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 3;
  }

  .open-nav .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0%;
  }
  .mobile-nav ion-icon[name="menu-outline"] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .open-nav ion-icon[name="close-outline"] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .open-nav ion-icon[name="menu-outline"] {
    display: none;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  /*menu*/

  .hero-description {
    text-align: center;
    right: 5%;
  }
  .news-content {
    column-gap: 2.4rem;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.6rem;
    row-gap: 2.4rem;
  }
}

@media (max-width: 740px) {
  .news-content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.6rem;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .footer-logo {
    grid-row: 4;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 43.75%;
  }
  .news-content .news-block {
    width: 20rem;
    height: 10rem;
  }
  .text-quote {
    font-size: 3rem;
  }

  .hero-description {
    transform: translate(0, -40%);
  }
  .primary-title {
    font-size: 3.6rem;
  }
  .secondary-title {
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
  .hero .btn:last-child:link,
  .hero .btn:last-child:visited {
    margin-top: 1.4rem;
  }
  .form-button,
  .form-email {
    padding: 0.4rem 1.4rem;
  }
  .form-email {
    max-width: 30rem;
  }
}

@media (max-width: 490) {
  html {
    font-size: 37.5%;
  }

  .news-content .news-block {
    width: 15rem;
    height: 5rem;
  }
}
