@media (max-width: 91.25em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 74.56em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1000px) {
  .hero-description {
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .departments .grid-2 {
    grid-template-columns: 1fr !important;
    row-gap: 1.6rem;
  }
  .department-description {
    text-align: center;
  }

  .welcome .grid-2 {
    grid-template-columns: 1fr !important;
    row-gap: 4.8rem;
  }

  .welcome-header {
    margin-bottom: 9.6rem;
  }

  .welcome-body p {
    max-width: 100%;
    margin-bottom: 0.4rem;
  }
  .speech {
    align-self: center;
  }

  /* .news{

  } */
}
