@media (max-width: 91.25em) {
  html {
    font-size: 56.25%;
  }
  .news-content .news-block {
    width: 20rem;
    height: 15rem;
  }
}

@media (max-width: 74.56em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1000px) {
  .hero-description {
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
